@import "tailwindcss";

@layer base {
    body {
        @apply bg-slate-900 text-white;
    }
}

@media print {
    @page {
        margin: 0;
        size: auto;
    }

    body {
        margin: 0;
        background: white;
        color: black;
    }

    /* Hide scrollbars during print */
    ::-webkit-scrollbar {
        display: none;
    }
}